venv/
__pycache__/
temp/
analysis_results/
*.log
class/
class1/
images1/
app.py
app1.py
app2.py
best.pt
check_r1.jpg
food_detection.py
food_scrape.py
food_images/
requirements.txt
volumetric_food_analysis.py
merged_food_models/