--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
sqlalchemy
pymysql
cryptography
pydantic
pydantic-settings
python-dotenv
pydantic[email]
python-dateutil
opencv-python-headless
torch==2.5.1+cpu
torchvision==0.20.1+cpu
ultralytics
Pillow
python-multipart
bcrypt
PyJWT
psycopg2-binary
pandas
numpy
transformers
accelerate
